# Ignore node_modules everywhere
**/node_modules/

# Ignore local env files
**/.env

# Ignore Vite/React build outputs
client/dist/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
